<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="f84d0338-de33-4c6e-9cb3-c0258130e43e" wadlVersion="http://wadl.dev.java.net/2009/02" name="bvb-pmt-template" type="rest" basePath="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="f84d0338-de33-4c6e-9cb3-c0258130e43efileName">bvb-pmt-template</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://mocksvc.mulesoft.com</con:endpoint></con:endpoints></con:interface>